<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529820122139-ou4ddauuovl5snvrp4hopqejse7uo5q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529820122139-ou4ddauuovl5snvrp4hopqejse7uo5q6</string>
	<key>API_KEY</key>
	<string>AIzaSyCFuSyI1wxXw40OnFhcOo68WB_hXEmvyIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>529820122139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-92df6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-92df6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529820122139:ios:94a9988274e32f7dc90cbe</string>
</dict>
</plist>